:root {
  font-family: "Poppins", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #000;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100vh;
}
